doctype html(lang='en')

head
  title Elliott Pogue
  link(rel="stylesheet", href="/stylesheets/reset.css")
  link(rel="stylesheet", href="/stylesheets/style.css")
  script(src="https://use.typekit.net/nqk3zmf.js")
  script.
    try{Typekit.load({ async: true });}catch(e){}
  meta(name="viewport", content="width=device-width, initial-scale=1")

body
  header.site-header
    .container--lg
      a.site-brand(href="/" alt="Back to Homepage")
        h1
          | Elliott Pogue
          span.site-brand__sub Designer &amp; Developer
      nav.site-navigation
        a.root-link(href="/") Work

  .site-content
    block body

  // Required for Previews and Experiments
  script(src="https://code.jquery.com/jquery-1.12.4.min.js")
  script
    = ctx?"window.prismic = { endpoint: '" + ctx.endpoint + "' };":""
  script(src="//static.cdn.prismic.io/prismic.min.js")
  script(src="/javascript/vendors/highlight.min.js")
