$sans-serif: 'brandon-grotesque', 'Helvetica Neue', sans-serif;
$serif: 'ff-meta-serif-web-pro', 'Georgia', serif;

// Metrics
$header-height: 64px;

$max-grid-width: 1200px;
$grid-gutter-width: 40px;

// Colors
$teal: #32B18E;
$beige: #F7F3E9;

$text-color: #26292E;
$text-muted-color: lighten($text-color, 40%);

$link-color: $teal;
$link-color-active: darken($link-color, 20%);

$header-bg: #fff;

$hero-default-bg: $beige;
$hero-overlay-bg: #fff;

$project-link-color: #fff;
