// normalize everything
@import 'normalize';

// settings
@import 'settings';

// box-sizing
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
}

%container {
  margin: 0 auto;
  padding: 0 $grid-gutter-width / 2;
  width: 100%;
}

.container,
.container--lg {
  @extend %container;
  max-width: 1040px;
}

.container--xl {
  max-width: 1200px;
}

@import 'typography';

.site-header {
  background: $header-bg;
  height: $header-height;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  .container--lg {
    display: flex;
  }
}

.site-brand {
  width: 50%;
  color: $text-color;
  text-decoration: none;

  h1 {
    font-size: 18px;
    letter-spacing: .4px;
    line-height: $header-height;
    margin: 0;
    text-transform: uppercase;
  }

  &__sub {
    color: $text-muted-color;
    font-family: $serif;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    margin-left: 10px;
    text-transform: none;
  }
}

.site-navigation {
  width: 50%;
  text-align: right;
  padding-left: 20px;
}

.root-link {
  color: $link-color;
  display: inline-block;
  font-family: $sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: .4px;
  line-height: $header-height;
  text-decoration: none;
  text-transform: uppercase;
  transition: color .2s;

  &:hover {
    color: $link-color-active;
  }
}

.hero {
  background: $hero-default-bg url('/images/heroes/ms-on-iphone.jpg') 50% fixed / cover no-repeat;
  display: flex;
  width: 100%;

  %container {
    position: relative;
  }

  &__overlay {
    background-color: $hero-overlay-bg;
    bottom: -40px;
    padding: 40px;
    position: absolute;
    right: $grid-gutter-width / 2;
    width: 400px;

    h2 {
      margin: 0;
    }

    .btn--text {
      margin-top: 16px;
    }
  }
}

.homepage {
  .hero {
    height: 70vh;
  }
}

.btn--text {
  color: $link-color;
  display: inline-block;
  font-family: $sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: .4px;
  text-decoration: none;
  transition: color .2s;

  &:before {
    content: '\2192\2002';
  }

  &:hover {
    color: $link-color-active;
  }
}

.projects-list .container--lg {
  margin-top: 20px;
}

.project {
  color: $project-link-color;
  display: flex;
  font-family: $sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 22px;
  position: relative;
  margin-bottom: 20px;

  &:hover {
    figcaption {
      background: rgba($text-color, .7);
    }
  }

  figcaption {
    bottom: 0;
    left: 0;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
    transition: background .2s;
  }

  figure {
    margin: 0;

    img { max-width: 100%; }
  }
}

.project-info {
  border-top: 1px solid $border-color;
  display: flex;
  margin-bottom: 80px;
  margin-top: $header-height + 40px;
  padding-top: 20px;
}

.project-info__title {
  width: 50%;

  h1 {
    font-size: 24px;
    line-height: 24px;
  }
}

.project-info__description {
  width: 50%;
}

.project-gallery {
  img { max-width: 100%; }

  &__row {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 600px) {
  .projects-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
  }

  .homepage {
    .project {
      width: calc(50% - 20px);
      margin-bottom: 40px;
      margin-right: 20px;

      &:nth-child(even) {
        margin-right: 0;
        margin-left: 20px;
      }
    }
  }

  .project-page {
    .projects-list {
      border-top: 1px solid $border-color;
    }

    .project {
      margin-bottom: 40px;
      margin-right: 20px;
      width: calc(33.33333% - 20px);

      &:nth-child(3n) {
        margin-left: 20px;
        margin-right: 0;
      }
    }
  }
}
